#backgroundPattern{
     background-image: url(asset/AdobeStock2.jpeg);
  background-size: 10%;  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; 
  translate: -50% 0%;
  height: 100%;
  width: 100%;
  min-width: 242rem;
  animation: pan 180s linear infinite;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
