:root{
   --clr-background:rgb(255,164,65) ;
   --clr-font: rgb(4,4,4);
/* utube tut: https://www.youtube.com/watch?v=5wLrz_zUwoU */
}

body{
    font-family: static;
    color: var(--clr-font);
    background-color: var(--clr-background);
    width: auto;
    height: 3400px;
    justify-content: center;
}

footer{
    background-color: var(--clr-font);
    width: auto ;
height: 150px;

}

/* heading part */
.grid1{
    justify-content: center;
    display: grid;
    grid-template-columns:  repeat(3, 25rem); 
    grid-template-rows: 200px 200px 53px 150px 200px ;
}
/* row 1 was 100px but text was 140 px -> weird spacing problem, 
text allign in the middle of the collumn */

.item1{
    font-size: 200px;
    font-weight: 100;
    font-style: italic;
    grid-column:3 ;
    grid-row:1 ;
    text-align: right;
    justify-self: end;  
}

/* I wanted to make the item 4 line match the top line
of the "ENT1" letters, so i add another row for the "ENT1",
rather than having "ASSIGNMENT1" as a full row. 
but when put them of the same row -> not alligned 
"ENT1" cant directly touch the row since its a text
-> have item 4 match the 4 row */

.item11{
    font-size: 200px;
    font-weight: 100;
    font-style: italic;
    grid-column:3 ;
    grid-row:2 ;
    text-align: right;
    justify-self: end;  
}
.item2{
    grid-area: 3/3;

    text-align: right;
    line-height: 0;
}

.item3{
    color: var(--clr-font);
    border-style: solid ;
    border-color: (--clr-font);
    border-radius: 60px;
    width: 280px;
    height: 120px;
    text-align: center;
    line-height: 1.85;
font-size: 70px;
transition: 0.3s;
}

.item3:hover{
    color: var(--clr-background);
    background-color: var(--clr-font);
    border-style: var(--clr-font);
 
}

a{
grid-area: 4/3;
justify-self: end;
align-self: flex-end;
text-decoration: none;
}

/* .rec1{
    width: 50px;
    height: 50px;
    color: blue;
    border-color: black;
} */

.item4{
grid-area: 4/1;
border-style: solid;
border-radius: 60px;
width: 680px;
height: 335px;
text-align: left;
letter-spacing: 2rem;
padding-top: 10px;
padding-left: 35px;
line-height: 80px;
font-weight: 100;
font-style: italic;
font-size: 70px;

align-self: end;
background-image: url(asset/wave\ gif.gif);
background-size: cover;
-webkit-background-clip: text;
color: transparent;
mix-blend-mode: multiply;

}

.asterisk{
    mix-blend-mode: multiply;
    grid-area: 5/1;
    width: 120px;
    padding-right: 40px;
    padding-top: 50px;
    align-self: flex-end;
}

.astk1{
    justify-self: end;
}

.astk2{
    justify-self: center;
}

.asterisk2{
    mix-blend-mode: multiply;
    grid-area: 5/2;
    width: 120px;
    padding-right: 40px;
    padding-top: 50px;
    align-self: flex-end;
}


.asterisk3{
    mix-blend-mode: multiply;
    grid-area: 5/3;
    width: 120px;
    padding-right: 40px;
    padding-top: 50px;
    align-self: flex-end;
}
/* while I did get the asterisk to spin, it doesnt work the way I want to
or how the tutorial end product look like: https://youtu.be/pFtxR-O78sY?si=s-kYLSsFs1XQ-7Dr */

/* grid 2 */

.grid2{
    padding-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns:  repeat(2, 600px); 
    grid-template-rows: 650px 550px 450px 500px 470px  450px 440px;
    row-gap: 50px;
    column-gap: 30px;
}
/* img positioning */
.images{
    width: 600px;
    align-self: flex-end;
}

.img1, .img2, .img3, .img6{
    align-self: center;
}

h2{
    font-size: 30px;
    line-height: 1;
}

/* paragraphs positioning */
.para1, .para2{
padding-top: 40px;
grid-area: 1/2;
}

.para2{
    align-self: flex-end;
}


.para3, .para4{
    grid-area: 2/1;
    padding-top: 20px;
}

.para4{
    align-self: flex-end;
}

.para5, .para6{
    grid-area: 3/2;
 
}

.para6{
    align-self: flex-end;
}

.para7, .para8{
    grid-area: 4/1;
 
    
}

.para8{
    align-self: flex-end;
   
}

.para9, .para10{
    grid-area: 5/2;
}

.para10{
    align-self: flex-end;
}

.para11, .para12{
    grid-area: 6/1;
}

.para12{
    align-self: flex-end;
}

.para13{
    grid-area: 7/2;
}

/* animation (cre LunDev tutorials) */

.autoShow{
    animation: autoShow;
    animation-timeline: view(40% auto);
}
@keyframes autoShow{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
}
@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



/* 
.slider{
    border: solid;
   
    height: var(--height);
}

.slider.cat{
    display: flex;
    flex-direction: row;
    width: 100%;
}

img{
    width: 200px;
}
 */





/* @keyframes autoBlur {
    from{
        filter: blur(40px);
    }
    to{
        filter: blur(0px);
    }
} */

/* .item41, .item42, .item43, .item44{
    filter: blur(0px);
}

.item41, .item43, .item44 :hover{
filter: blur(4px);
transition: 1s;} */



