/* marie's section */

.mariel{
    position: sticky;
    top: 0;
    z-index: 10;
    transform: translateY(19rem);
}

.speck{
  height: 9rem;
  width: 100%;
}
#head{
    width: 30rem;
    display: flex;
    justify-self: center;
}

.cake{
  width: 50rem;
  max-width: 100%;
  height: auto;
  display: block;
    z-index: 10;
    position: absolute;
    transform: translate(-83rem, -26rem);
  }

.cherry{
    position: sticky;
    bottom: 0;
    bottom: 300rem;
    width: 35rem;
    z-index: 99;
    transform: rotate(45deg) translateY(-25rem);
    display: flex;
    justify-content: center;
}

.mask{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
   background-image: url(asset/french\ revolution.jpg);
   background-size: cover;
   background-position: center;
   mask-image: url(asset/blood\ drop.gif);
   mask-size: cover;
   mask-position: center;
   z-index: -3;
}

/* I also wanted to have the gif started playing only when I have scrolled
to this section on the screen, but this was quite hard to do.
I did looked into Intersection Observer */


.wealthGap{
    background-color: var(--background-clr);
    height: 90rem;
    width: 100%;
}

.drapes{
  background-image: url(asset/frame.jpg);
   position: fixed;
    top:0;
    left:0;
    height: 20rem;
    width: 100%;
   background-image: url(asset/frame.jpg);
    background-size: cover; 
   background-position: center; 
   z-index: 10;
}

.over{
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  align-content:end;
  width: 100%;
}

a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

#colorNav{
  color: black;
}
.music{
  position: absolute;
  color: black;
  width: 100%;

  transform: translateY( 21rem);
  /* font-family: Monsieur La Doulaise; */
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.section_container {
height: 100%;
width: 100%;
background-color: transparent;
position: sticky;
Left: 0;
bottom: 0;
bottom:50rem;
-webkit-clip-path: inset(0px 0px 0px 0px);
clip-path: inset (0px 0px 0px 0px);
z-index:99;
}

.section_inner {
position: fixed;
inset: 0%;
bottom: 0;
height: 100%;
width: 100%;
transform: translate(25rem);

}

.baseGui{
    top: 0;
    width: 65rem;
    overflow: none;
    display: flex;
    justify-self: center;
   transform: translateY(-45rem);
  position: absolute;
}

.sharpGui{
    top: 0;
    width: 60rem;
    transform: translate( -3rem, -60rem);
 position: absolute;
   display: flex;
    justify-self: center;
 transition: top 0.1s ease-out;

}

.sharpGui.scrolled {
  top: 22rem;
}


