.sticky_parent{
    height: 1000vh;
    z-index: 99;
    position: relative;
}

.sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    /* border: 1px solid red; */
}

.scroll_section{
    position: absolute;
    top: 0;
    height: 100%;
    width: 1000vw;
    /* the vw need to be the same amount as the sticky_parent vh for this to work */
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200rem;
    /* i had some problem with the first line of paragraph being higher that
    others and come down sideway, The problem was the width of the padding */
}


.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view(90%);
}

@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
