:root{
--background-clr: rgb(222, 218, 203);
--Second-clr: rgba(255, 255, 255, 0.989);
--font:brown;
}

html, body{
    background-color: var(--background-clr);
    width: 100%;
    height: 100rem;
    z-index: -10;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}


nav{
     background-color: var(--background-clr);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.textColor{
    font-size: 20px;
}

.border{
    position: sticky;
    top: 0;
     z-index: 100;
}

/* tittle section */
.tittle{
    font-size: 8vw;
}

p{
    color: white;
    width:50%;
    font-size: 20px;
    margin: 2rem;
    z-index: 2;
    padding-bottom: 20rem;
}

.vertical{
    height: 50rem;
    /* background-color: yellow; */
    z-index: -99;
}

.space{
height: 70rem;
width: 100%;
background-color: var(--background-clr);
display: flex;
align-items: end;
justify-content: center;
padding-bottom: 80px;
z-index: 10;
position: absolute;
}

.banner{
   position: relative;
    width: 100%;
    height: 10px;
    z-index: 99;
}

footer{
    position: absolute;
    width: 100%;
    height: 20rem;
    z-index: 99;
    background-color: red;
    transform: translateY(60rem);
}

#french{
 position: absolute;
transform: translate(6vw, 30vh);
  font-family: Monsieur La Doulaise;

}

#revolution{
    position: absolute;
transform: translate(67vw, 30vh);
  font-family:  Monsieur La Doulaise;

}