/* store my custom variable */
:root{
--colour-01: white;
--colour-02: black;
--colour-03: cornflowerblue;
--colour-04: coral;
--border: solid coral 2px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;
    background-color: var(--colour-03);
    color: :var(--colour-01);
}

h1{
    font-size: 2rem;
}

nav{
    border: var(--border);
    padding: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    width: 100%;
}

main{
max-width: 1000px;
width: 100%;
}

.mediaPlayerSelection{
    width: 100%;

}

mediaPlayer{
max-width: 100%;
}

.mediaPlayerControlContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

#playPauseButton{
padding:1rem;
}

#timelineProgress{
    flex:1
}